.App {
	background-color: #1c1b21;
}

.home {
	margin: auto;
	max-width: 1200px;
	width: 90%;
	min-height: 100vh;
	padding: 5px;
}
header {
	width: calc(100% - 10px);
	padding: 20px 5px;
	/* background-color: red; */
	display: flex;
	justify-content: space-between;
}

header .header_input {
	width: calc(100% - 450px);
	position: relative;
}

header .header_input svg {
	position: absolute;
	right: 10px;
	top: 9px;
}

header .header_input input {
	width: calc(100% - 55px);
	background-color: #26262e;
	color: #919094;
	border: none;
	padding: 10px 40px 10px 12px;
	outline: none;
	font-size: 22px;
	border-radius: 5px;
}

header .header_right {
	width: 400px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 15px;
}
header .header_right img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	justify-content: end;
}
.main_header {
	margin: 10px;
	border-top: 2px solid #31313b;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.breadcrumb {
	margin: 10px;
	display: flex;
	align-items: center;
	gap: 3px;
}

.breadcrumb .folder {
	color: #b5b4b8;
	cursor: pointer;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none;
}

.breadcrumb .arrow {
	margin: 0px !important;
}
.main_header-right {
	margin: 10px;
	display: flex;
}

.main_folder {
	background-color: #26262e;
	padding: 8px;
	border-radius: 4px;
	margin-right: 10px;
	display: flex;
	align-items: center;
	gap: 8px;
	outline: none;
}
.main button {
	background-color: #26262e;
	padding: 7px;
	border: 1px solid #b5b4b8;
	cursor: pointer;
}

.main .main_header button:hover {
	background-color: #141419;
}

.main_body {
	min-height: 70vh;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.main_body .no_image {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.folder_card {
	background-color: #25262e;
	padding: 1.66%;
	margin: 1.5%;
	width: 27%;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	position: relative;
	gap: 5px;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none;
}

.folder_card .moreOptions {
	all: unset;
	position: absolute;
	right: 4px;
	cursor: pointer;
}

.folder_card .popover-more {
	padding: 6px 4px;
	background-color: #070709;
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 15px;
	right: 30px;
	gap: 4px;
	/* display: none; */
	border-radius: 8px;
	z-index: 100;
}
.popover-tri {
	z-index: -1;
	top: 2px;
	position: absolute;
	right: -8px;
	transform: rotate(90deg);
}
/* .opover-tri svg {
} */
.folder_card .popover-more .btn {
	border-radius: 4px;
	padding: 2px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 16px;
	color: #c7c8cd;
	gap: 4px;
}
.folder_card .popover-more .btn:hover {
	background-color: #87868b;
	cursor: pointer;
}
.delete {
	color: #ef7b73 !important;
}
.folder_card .folderName {
	color: #c7c8cd;
	font-weight: 300;
	font-size: 22px;
	margin: 0;
}
.folder_card .description {
	margin: 0;
	color: #7a797c;
	font-weight: 900;
	font-size: 14px;
}

.folder_card .datetime {
	margin: 0;
	color: #4c4b4f;
	font-weight: 900;
	font-size: 14px;
}
/* toogle css */
.switch {
	position: relative;
	display: inline-block;
	width: 90px;
	height: 50px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	/* content: url(./assets/sun.svg); */
	content: "";
	height: 34px;
	width: 34px;
	left: 8px;
	bottom: 8px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	/* background: url(./assets/sun.svg); */
}

input:checked + .slider {
	background-color: #222222;
}

input:focus + .slider {
	box-shadow: 0 0 1px #222222;
}

input:checked + .slider:before {
	-webkit-transform: translateX(38px);
	-ms-transform: translateX(38px);
	transform: translateX(38px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

/* Responsive */
@media screen and (max-width: 1066px) {
	.folder_card {
		padding: 2.5%;
		width: 41%;
		/* min-width: ; */
		margin: 2%;
	}
}

@media screen and (max-width: 480px) {
	.folder_card {
		padding: 3%;
		width: 89%;
		/* min-width: ; */
		margin: 2.5%;
	}
}
